body{
	    color:black !important;
	        font-family:montserrat, monospace;
		    
	}

	button a{
		    color:black;
	    }

	    header{
		        margin-top:-50px !important;
		}

		.box{
			    text-align:center;
			        width:70%;
				    margin-left:400px;
				        margin-top:50px;
					    border: 2px solid black;
					        padding: 2em;
						    min-height:500px;
						        display: flex !important;
							    flex-direction:column;
							        gap:50px;
							}

							.margem_baixo{
								    margin-bottom:40px;
							    }

							    .box2{
								        margin-top:50px;
								}

								.box3{
									    font-family:montserrat, monospace;
								    }

								    .box3 button{
									        font-family:montserrat, monospace;
										    margin-left: 30px;
									    }




