
body{
    background-color: #F1f7fd;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.box-tabela 
{
    margin-top: 50px;
    width: 1225px;
    min-height: 745px;
    max-height: 745px;
    border-radius: 10px 10px 0px 0px;
    overflow-y: auto;
    box-shadow: 12px 12px 13px #000000a2;

    border-bottom: 10px solid var(--cor-primaria);
}


td, th
{
    height: 55px;
}

td
{
    border-bottom: 2px solid var(--cor-detalhes);
    background-color :#60a5fa;
}

th
{
    position: sticky;
    margin: 0;
    top: 0;
    z-index: 2;
    background-color :#60a5fa;
    color: white;
    font-family: 'Montserrat';
    font-size: 15px;
    border-bottom: 10px solid var(--cor-primaria);
    border-style: hidden;

}

table
{
    width: 100%;
    border-collapse: collapse;
}


nav a.active
{
    color: var(--cor-detalhes);
    padding: 33px 1px;
    height: 85px;
    width: 230px;
    background-color: var(--cor-fundo);
}

header
{
    position: fixed;
    display: block;
    height: 100vh;
    width: 250px;
    background-color: var(--cor-primaria);
    padding:20px;
    text-align: center;
}

header img
{
    width: 190px;
    margin: 0px 10px; 
    margin-bottom: 50px;   
}

nav
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
}

nav a
{
    text-align: center;
    color: var(--cor-fundo);
    text-decoration: none;
    font-size: 17px;
    font-family: 'Montserrat';
    font-weight: 500;
    transition: 0.3s;
}

nav a i
{
    margin-right: 10px;
    transition: 0.3s;
    font-size: 17px;

}

nav a:hover
{
    color: var(--cor-botao);
    transform: translateX(10px);
}

