@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --cor-primaria: #1E3A8A;
    --cor-secundaria: #60A5FA;
    --cor-detalhes: #5AE24E;
    --cor-fundo: #F1F7FD;
}

body
{
    background-color: var(--cor-fundo);
}

.nav
{
    
}

.logo
{
    width: 50px;
}
